.header-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #D5F5E3;
      
}

#main-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 40px auto;
  width: 40%;
}

#quiz-content{
  display: none;
}

.content-style {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 40px auto;
  width: 40%;
}

.answerBtns {
  display: block;
}

#correct-answer {
  display: none;
}

#wrong-answer {
  display: none;
}

#score {
 display: none;
}

.game-over {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 40px auto;
  width: 40%;
}

#high-score-container {
  display: none;
 }
 
 .score-list {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   margin: 40px auto;
   width: 40%;
 }
 
